# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
allFiredEvents
scTopics

# node-waf configuration
.lock-wscript

package-lock.json

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# local env variables
.env
.env.bridge
.env.borrowing
.env.brokers
.env.raiseView
.env.wqt
.env.liquidity
.env.proposal
.env.quest
.env.WqtWbnb
.env.pensionFund
.env.referral
.env.questFactory
.env.fetcher

# build directory
build/

# lol macs
.DS_Store/

#package-lock.json
# now pm2 app file is generating on deploy
app.json
.idea
/db-config.json

# http request for debug
http-requests

package-lock.json
