---
# tasks file for backend-update
- name: Delete backend dir
  file:
    path: '{{ WORKERS_BIN }}'
    state: absent

- name: Create backend dir
  file:
    path: '{{ WORKERS_BIN }}'
    state: directory
    recurse: yes

- name: Upload backend files
  synchronize:
    src: '{{ SRC_DIR }}'
    dest: '{{ WORKERS_BIN }}'
  register: copyfiles

- name: Install "typescript" node.js package globally.
  npm:
    name: typescript
    global: yes
  become: yes

- name: Install packages based on package.json
  shell: npm i
  args:
    chdir: '{{ WORKERS_BIN }}'

- name: Build code
  shell: npm run build
  args:
   chdir: '{{ WORKERS_BIN }}'

- name: Copy or generate app.json file
  template:
    src: ./app.json.j2
    dest: '{{ WORKERS_BIN }}/app.json'

- name: Copy or generate bridge env file
  template:
    src: ./{{ bridge_env }}.j2
    dest: '{{ WORKERS_BIN }}/{{ bridge_env }}'

- name: Copy or generate liquidity env file
  template:
    src: ./{{ liquidity_env }}.j2
    dest: '{{ WORKERS_BIN }}/{{ liquidity_env }}'

- name: Copy or generate pension-fund env file
  template:
    src: ./{{ pension_env }}.j2
    dest: '{{ WORKERS_BIN }}/{{ pension_env }}'

- name: Copy or generate proposal env file
  template:
    src: ./{{ proposal_env }}.j2
    dest: '{{ WORKERS_BIN }}/{{ proposal_env }}'

- name: Copy or generate wqt-wbnb env file
  template:
    src: ./{{ wqt_wbnb_env }}.j2
    dest: '{{ WORKERS_BIN }}/{{ wqt_wbnb_env }}'

- name: Copy or generate referral-program-wbnb env file
  template:
    src: ./{{ referral_env }}.j2
    dest: '{{ WORKERS_BIN }}/{{ referral_env }}'

- name: Start backend process
  shell: pm2 reload app.json
  args:
   chdir: '{{ WORKERS_BIN }}'

- name: Saving current process list
  shell: pm2 save
  args:
   chdir: '{{ WORKERS_BIN }}'
