{
  "apps": [
    {
      "name": "{{ PM2_INIT_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/index.js",
      "cron_restart": "0 */5 * * *",
      "restart_delay": 15000,
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    }
  ]
}
