{
  "apps": [
    {
      "name": "{{ PM2_WQ_ROUTER_SERVER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/blockchain-router-server/index.wq-network.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "node_args": ["--network=workQuestDevNetwork"],
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_ETH_ROUTER_SERVER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/blockchain-router-server/index.eth-network.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "node_args": ["--network=rinkebyTestNetwork"],
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_BSC_ROUTER_SERVER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/blockchain-router-server/index.bsc-network.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "node_args": ["--network=bscTestNetwork"],
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_BRIDGE_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/bridge/index.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_BRIDGE_USDT_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/bridge-usdt/index.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_PROPOSAL_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/proposal/index.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_REFERRAL_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/referral-program/index.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_PENSION_FUND_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/pension-fund/index.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_QUEST_FACTORY_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/quest-factory/index.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    },
    {
      "name": "{{ PM2_QUEST_WORKER_NAME }}",
      "exec_mode": "fork",
      "instances": "1",
      "script": "./build/quest/index.js",
      "autorestart": true,
      "listen_timeout": 15000,
      "env": {
        "ENV": "prod"
      }
    }
  ]
}
